h4{
    text-align: center;
    margin: 1% 25%
}

.contenedor {
    display: flex;
    align-items: center;
    margin: 3%;
}

.contenedor img{
   max-width: 50%;
   margin: 0% 5%;
}

.contenedor p{
    max-width: 45%;
    padding: 0 2%;
}

.fotos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    margin: 50px;
    background-color: rgb(164, 215, 244);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 20px 30px grey;
}

.fotos img {
    width: 30%;
    height: 100%;
}

body{
    background-color: lavender; 
}

h2{
    margin: 1% 5%
}
